:root {
    --black: #050707;
    --white: #eCF1F2;
    --yellow: #F4D800;
    --grey: #7F7F7F;

}


* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* GLOBALS  */

body {
    font-family: 'Lato', sans-serif;
    color: var(--black);
}

h1 {
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 900;
}

h2, h3 {
    text-transform: capitalize;
}

h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

p {
    margin-bottom: 2rem;
}


/* UTILITY CLASSES */

.flex-col {
    display: flex;
    flex-direction: column;
}

.jc_c {
    justify-content: center;
}

.ai_c {
    align-items: center;
}


.navbar ul {
    display: none;
}

.noscroll {
    overflow: hidden;
}



li {
    list-style: none;
    padding-right: 6rem;
}

li:last-child {
    padding-right: 0;
}

a {
    text-decoration: none;
    color: inherit;
    position: relative;
}

li a:after{
    content: '';
    display: block;
    position: absolute;
    top: 52%;
    left: 0;
    right: 0;
    height: 8px;
    background: var(--yellow);
    opacity: 0;
    z-index: -1;
}

li a:hover:after {
    opacity: 0.75;
}


button {
    color: var(--black);
    background-color: inherit;
    padding: 0.725rem;
    border: 1px solid var(--black);
    text-transform: uppercase;
    box-shadow: 1px 1px 3px var(--black);
}

button:hover {
    cursor: pointer;
    background-color: var(--yellow);
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
}

/* =====================
NAVIGATION BAR - MOBILE
======================== */

.navbar {
    display: flex;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-between;
    background-color: white;

    z-index: 5;
    overflow: hidden;
}

.header_menu {
    display: none;
}
.mobile {
    display: flex;
    position: absolute;
    z-index: 2;
    background: var(--white);
    left: 0px;
    right: 0px;
    flex-direction: column;
    text-align: center;
    height: 70vh;
    justify-content: center;
    align-items: center;
}

.mobile a {
    margin-bottom: 2rem;
}




span.hamburguer_menu_line {
    display: block;
    width: 30px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: var(--black);
    transition: all 300ms ease-in-out;
    transform-origin: 5px 1px;
}

.btn_navbar {
    display: none;
}

.opened span:first-child {
    transform: rotate(45deg);

}
.opened span:nth-child(2){
    opacity: 0;
}

.opened span:last-child {
    transform: rotate(-45deg);

}



/* ========================
NAVIGATION BAR - LARGER SCREENS
=========================== */

@media (min-width: 950px){
    .navbar{
        position: fixed;
        width: 100%;
    }
    .navbar ul {
        display: flex;
    }

    .navbar button {
        display: block;
    }

    .hamburguer__menu{
        display: none;
    }

    .header_menu_mobile {
        display: none;
    }
}


/* ===================
SECTION - INTRODUCTION
====================== */

.section__introduction {
    text-align: left;
    overflow: hidden;
    position: relative;
    height: 100vh;
    background-color: var(--yellow);
}

.section__introduction h2 {
    padding-left: 2rem;
}

.section__introduction button {
    display: block;
    width: 230px;
    margin: 2rem;
}

.section__introduction button:hover {
    background-color: var(--black);
    color: var(--white);
}


.career {
    display: block;
    color: var(--grey);
    font-size: 1.25rem;
    text-transform: uppercase;
}



@media (min-width: 800px){
    .section__introduction{
        background-color: white;
    }
    .introduction {
        background-color: var(--yellow);
        width: 50%;
        padding: 8rem 2rem;
        box-shadow: 115px 115px 0px var(--white);
    }
}

@media (min-width: 950px){
    .section__introduction h2 {
        font-size: 2.75rem;
    }

    .section__introduction button {
        margin: 2rem 2rem;
    }
}




/* ================
SECTION - EDUCATION
=================== */
.section__education{
    padding-top: 3.75rem;
}

.about_me, .certificates {
    text-align: center;
}

.about_me {
    margin: 2rem 0;
    text-align: center;
}


.certificate_item {
    margin-top: 1.725rem;
}

.certificate_item img {
    width: 250px;
    margin-bottom: 0.5rem;
}

.icons img {
    width: 30px;
}

.icons {
    margin-bottom: 2rem;
}

@media (min-width:650px) {
    .certificate_item > img {
        width: 500px;
        margin-bottom: 0.5rem;
    }
}

@media (min-width:1100px) {
    .section__education {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100vh;
        padding-top: 3.75rem;
    }

    .about_me, .certificates {
        text-align: left;
    }

    .about_me p {
        width: 80%;
    }

    .certificates {
        margin: 2rem;
    }
}

@media (min-width: 1300px) {
    .bg-extend {
        background-color: var(--white);
        padding: 0;
    }


}

/* =============
    PROJECTS PORTFOLIO
================*/
.section__projects {
    padding: 5.75rem 2rem;
    margin-bottom: 5rem;
}

.project_image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.project_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;

}

.project_text {
    margin-bottom: 2rem;
    border-top: none;
    border-radius: 0 0 10px 10px;
}

.btn_project {
    margin-top: 0.5rem;
}



@media (min-width:700px){
    .section__projects{
        padding: 5.75rem 2rem;
    }

    .projects__container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 400px 400px;
        gap: 10px;
    }

    .project_gallery_container {
        position: relative;
    }

    .project_gallery_container:hover img {
        opacity: 0.3;
    }

    .project_image img {
        border: none;
    }
    .project_text {
        opacity: 0;
        padding: 0;
        margin: 0;
        position: absolute;
        border: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 0;
        color: var(--black);
        transition: all 300ms ease-in-out;
        cursor: pointer;
    }

    .project_gallery_container:hover .project_text{
        opacity: 1;
    }

}




/* ======
FOOTER
========= */

footer {
    background-color: var(--white);
    color: var(--black);
    padding: 10rem 2rem;
}

footer p {
    margin-top: 1rem;
}

footer p a {
    color: blue;
}

.icons_social i {
    margin-top: 1rem;
    font-size: 1.725rem;
    cursor: pointer;
}

.signature {
    text-align: center;
    margin-top: 3rem;
}

