:root {
    --black: #020302;
    --white: #F3F5F9;
    --yellow: #FFDB15;
    --khaki: #b5a197;
}


* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* GLOBALS  */

body {
    font-family: 'Poppins', sans-serif;
    color: var(--black);
}

h2, h3 {
    text-transform: capitalize;
}

h1, h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.25rem;
}


ul {
    display: none;
}


li {
    list-style: none;
    padding-right: 6rem;
}

li:last-child {
    padding-right: 0;
}

a {
    text-decoration: none;
    color: inherit;
    position: relative;
}

li a:after {
    position: absolute;
    left: 0.2rem;
    content: '';
    height: 11px;
    width: 40px;
    border-bottom: solid 12px var(--yellow);
    opacity: 0;
    z-index: -1;
}

li a:hover:after {
    opacity: 0.75;
}

button {
    display: none;
    color: var(--black);
    background-color: inherit;
    padding: 0.725rem;
    border: 1px solid var(--black);
    text-transform: uppercase;
    box-shadow: 1px 1px 3px var(--black);

}

button:hover {
    cursor: pointer;
    background-color: var(--yellow);
}

.container {
    max-width: 2000px;
    margin: 0 auto;
    padding: 0 2rem;
}

/* NAVIGATION BAR - MOBILE */

.navbar {
    margin: 0 auto;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #ffff;
}

span.hamburguer_menu_line {
    display: block;
    width: 30px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: var(--black);
}

/* NAVIGATION BAR - LARGER SCREENS */

@media (min-width: 950px){
    .navbar ul {
        display: flex;
    }

    .navbar button {
        display: block;
    }

    .hamburguer__menu{
        display: none;
    }
}


/* BACKGROUND STYLES */

.bg_yellow-white {
    background-image: linear-gradient(to right, var(--yellow) 50%, var(--white)50%);
    height: 95vh;
}
.bg_white-yellow {
    background-color: var(--white);
    height: 95vh;
}

@media (min-width:1300px){
    .bg_white-yellow {
        background-image: linear-gradient(to left, var(--yellow) 50%, var(--white)50%);
    }
}


/* UTILITY CLASSES */

.flex-col {
    display: flex;
    flex-direction: column;
}

.jc_c {
    justify-content: center;
}

.ai_c {
    align-items: center;
}

/* SECTION - INTRODUCTION */

.section__introduction {
    text-align: center;
    overflow: hidden;
}

.section__introduction button {
    display: block;
    width: 200px;
    margin: 0 auto;
}

.section__introduction button:hover {
    background-color: var(--black);
    color: var(--white);
}

.section__introduction span {
    display: block;
    color: var(--khaki);
    font-size: 1.25rem;
    text-transform: uppercase;
}

@media (min-width: 950px){
    h2 {
        max-width: 50%;
        padding-left: 4rem;
        text-align: left;
    }

    .section__introduction button {
        margin-left: 4rem;
        margin-top: 2rem;
    }
}


/* SECTION - EDUCATION */
.about_me {
    margin: 2rem 0;
}

.certificate_item {
    margin-top: 1.725rem;
}

.certificate_item img {
    width: 300px;
    margin-bottom: 0.5rem;
}

.icons img {
    width: 30px;
}

.icons {
    margin-bottom: 2rem;
}

@media (min-width:950px) {
    .section__education {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .about_me p {
        width: 80%;
    }

    .certificates {
        margin: 2rem;
    }

    .certificate_item > img {
        width: 450px;
        margin-bottom: 0.5rem;
    }


}